<p>Name: <%= @order.pretty_name() %></p>
<p>Topping: <%= @order.topping %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Price: <%= @order.total() %></p>

<form action="/pizzas/<%= @order.id %>/delete" method="POST">
  <input type="submit" value="Delete Order">
</form>

<a href="/pizzas/<%= @order.id %>/edit">Edit order</a>
