<h2>Name: <%= @customer.pretty_name() %></h2>
<hr />

<h4>Orders:</h4>

<% for order in @customer.orders() %>
<p>Order: <%= order.quantity %> x <%= order.topping %> </p>
<p><a href="/pizzas/<%= order.id %>">Show Order</a></p>
<hr />
<% end %>

<form action="/customers/<%=@customer.id%>/delete" method="POST">
  <input type="submit" value="Delete Customer">
</form>
<p><a href="/customers/<%= @customer.id %>/edit">Edit Customer</a></p>
